name: Linux Release

on:
  push:
    tags:
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
        - target: x86_64-unknown-linux-gnu
          suffix: glibc
        - target: x86_64-unknown-linux-musl
          suffix: musl

    steps:
    - uses: actions/checkout@v2
    - name: Install sysdeps
      run: |
        sudo apt-get update
        sudo apt-get -y install libxkbcommon-dev libasound2-dev
    - name: Install musl-tools
      if: contains(${{ matrix.target }}, 'musl')
      run: |
        if dpkg -l musl-tools | grep -q "^ii\s*musl-tools"; then
            exit 0
        fi
        sudo apt-get install -y musl-tools
    - uses: dtolnay/rust-toolchain@v1
      with:
        target: ${{ matrix.target }}
        toolchain: 1.88.0
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: |
        cargo build --release --target ${{ matrix.target }}
    - name: Upload binary
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/${{ matrix.target }}/release/fluyendo
        asset_name: fluyendo-ubuntu-${{ matrix.suffix }}
        tag: ${{ github.ref }}
