name: MacOS Release

on:
  push:
    tags:
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
            suffix: macos-arm64
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: macos-x86_64

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@v1
      with:
        target: ${{ matrix.target }}
        toolchain: 1.88.0
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: |
        cargo build --release --target ${{ matrix.target }}
    - name: Upload binary
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/${{ matrix.target }}/release/fluyendo
        asset_name: fluyendo-${{ matrix.suffix }}
        tag: ${{ github.ref }}
