name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@v1
      with:
        components: clippy
        toolchain: 1.88.0
    - uses: Swatinem/rust-cache@v2
    - name: Lint
      run: cargo clippy -- -D warnings
    - name: Run tests
      run: |
        cargo test
        cargo test --all-features

